body.waiting * {
    cursor: progress;
}

/* Chosen select menu elements and slider elements*/
.chosen-container-single .chosen-single{
	padding: 0px 0 0 8px; font-size:12pt; height:26px; text-align:left; color:#000;
}
.chosen-container-single .chosen-default, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	color:#444;
}
.chosen-container-single .chosen-single abbr{
	right:16px;
}
.chosen-container-single .chosen-single span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container-single .chosen-single-with-deselect span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container ul.chosen-results li.highlighted {
  background-color: #29658C; background-image: none; color:#fff; font-size:12pt; text-shadow:0 -1px 1px rgba(0,0,0,0.25); font-weight:100;
}
.ui-slider-horizontal {
	height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
	height:15px; width:15px; margin-top:-1px;
}


/* Water fund app styling */
.wf_rslide{
	width:200px; display:inline-block; margin-bottom:2px;
}
.wf_largeHeader{
	font-size:14pt; margin-bottom:5px;
}
.wf_lineWrap{
	margin-top:10px; margin-left:10px; font-size:12pt; margin-bottom: 10px; font-weight:bold;
}
.wf_lineWrap1{
	 margin-left: -5px; font-size: 12pt; margin-bottom: 8px;
}
.wf_lineWrapCenter{
	width:100%; text-align:center; margin-top:10px; margin-bottom:20px;
}
.wf_lineWrapCenter1{
	width:100%; text-align:center; margin-top:-5px; margin-bottom:-5px;
}
.wf_slider{
	width: 220px; margin-left:0px; margin-top:10px; margin-bottom:0px;
}
.wf_slider label{
	position: absolute; width: 50px; margin-left: -26px; text-align: left; margin-top: 30px; transform: rotate(90deg);
	font-size:10pt; text-align:left;
}
.wf_leftSlider {
    display: inline-block;margin-left: 0px;margin-right: 8px;font-size: 11pt;
}
.wf_leftSlider1 {
    display: inline-block;margin-left: 10px;margin-right: 8px;font-size: 11pt;
}
.wf_rightSlider {
    display: inline-block;margin-left: 5px;font-size: 11pt;
}
.wf_selectWrapper{
	margin-left:18px; display:inline-block;
}
.wf_activityWrapper{
	display:none;
}
.wf_benefitWrapper{
	display:none;
}
.wf_rangeWrap{
	   margin-bottom: 16px; margin-left:27px; display:none;
}
.wf_popSlideWrap{
	margin-bottom: 16px; margin-left:20px;
}
.wf_cbLabel{
	display: inline-block; margin-left: -2px; font-size: 12pt; padding: 2px; vertical-align: middle; text-align: left; color: #000; font-weight:bold;
}
.wf_headerHS {
    color: blue; cursor: pointer; -webkit-transform: rotate(90deg); transform: rotate(90deg); display: inline-block; font-size: 17pt; vertical-align: middle;
}
.wf_cbListener{
	margin-left:4px;
}
.wf_pdfLink{
	font-size:12pt; color:blue; cursor:pointer;	
}	
.wf_pdfLink:active{
	color:blue; font-weight:normal; 
}
.wf_pointer{
	cursor:pointer; 
}	
.wf_attributeWrap{
	display:none;
}
.wf_attribute{
	font-weight:500; font-size:11pt; padding:2.5px;
}
.wf_attribute span{
	font-weight:bold; font-size:11pt; padding:2.5px;
}
.wf_imagePlace{
	width: 250px; height:150px; text-align:center; margin:auto; margin-top:10px; margin-bottom:10px; border-style:solid; border-color:blue; font-size:16pt;
}
.wf_headerHSBig{
	color:#5E94B6; cursor:pointer; -webkit-transform:rotate(90deg); transform:rotate(90deg); 
	display:inline-block; font-size:20pt; vertical-align:middle; margin-right:5px;
}
.test{
	background-color:blue; width: 100px; height:100px;
}
.test1{
	display:none; background-color:red; width: 50px; height:50px;
}
.test2{
	display:none; background-color:green; width: 50px; height:50px;
}



