body.waiting * {
    cursor: progress;
}

/* Chosen select menu elements and slider elements*/
.chosen-container-single .chosen-single{
	padding: 0px 0 0 8px; font-size:12pt; height:26px; text-align:left; color:#000;
}
.chosen-container-single .chosen-default, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	color:#444;
}
.chosen-container-single .chosen-single abbr{
	right:16px;
}
.chosen-container-single .chosen-single span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container-single .chosen-single-with-deselect span{
	margin-right:20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.chosen-container ul.chosen-results li.highlighted {
  background-color: #29658C; background-image: none; color:#fff; font-size:12pt; text-shadow:0 -1px 1px rgba(0,0,0,0.25); font-weight:100;
}
.ui-slider-horizontal {
	height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
	height:15px; width:15px; margin-top:-1px;
}
.ui-widget-header {
	background: #b8e1fc !important;
}	

/* Water fund app styling */
.wf_rslide{
	width:180px; display:inline-block; margin-bottom:2px;
}
.wf_lineHeader{
	font-size:12pt; text-decoration:underline; text-align:left; margin: 5px 5px 6px 2px; display:inline-block;
}
.wf_sliderCb{
	width:330px; font-size:12pt; text-decoration:underline; text-align:left; margin: 5px 5px 6px 2px; display:inline-block;
}
.wf_zoomToText{
	font-size:12pt; color:blue; cursor:pointer; 
}	
.wf_zoomToText:hover{
    color:#21658c;
}
hr.wf_hrStyle {
    border: 0; height: 1px; background-image: linear-gradient(to right, #ccc, #29658C, #ccc); margin: 6px 0 6px;
}
.wf_popCbWrap{
	font-size:14pt; text-align:left; display:inline-block; cursor:pointer;
}
.wf_cbLabel{
	float:left; margin-left:2px; font-size:12pt; padding:2px; vertical-align:middle; text-align:left; color:#000; padding-left:19px; text-indent:-19px; 
	width:150px; cursor:pointer; margin-right:10px;
}
.wf_cbLabel1{
	float:left; margin-left:2px; font-size:12pt; padding:2px; vertical-align:middle; text-align:left; color:#000; padding-left:19px; text-indent:-19px; 
	cursor:pointer; margin-right:10px;
}
.wf_lineHeader3{
	font-size:12pt; text-align:center; margin-top:5px; margin-bottom:10px;	
}	
.wf_controlsWrap{
	margin-left:5px; margin-bottom:14px;	
}
.wf_rangeWrap{
	display:none; margin-bottom:12px; margin-left:16px; margin-top:4px;
}	
.wf_headerHS{
	color:#5E94B6; cursor:pointer; -webkit-transform:rotate(90deg); transform:rotate(90deg); display:inline-block; font-size:17pt; 
	display:none; vertical-align:middle;
}
.wf_minfo{
	margin-bottom:-2px; margin-left:3px; cursor:pointer;
}	
.wf_leftSlider {
    display:inline-block; margin-left:0px; margin-right:8px; font-size:11pt;
}
.wf_rightSlider {
    display:inline-block; margin-left:5px; font-size:11pt;
}
.wf_largeHeader{
	font-size:14pt; margin:10px 0px; cursor:pointer; font-weight:bold;
}
.wf_hide{
	display:none;
}
.wf_sectionWrap{
	margin-bottom:10px;	
}		
.wf_attributeWrap{
	display:none;
}
.wf_attribute{
	font-weight:500; font-size:12pt; padding-bottom:10px; padding-left:10px; text-indent:-10px; margin-left:5px;
}
.wf_attribute span{
	font-weight:bold;
}
.wf_imagePlace{
	width: 250px; height:150px; text-align:center; margin:auto; margin-top:10px; margin-bottom:10px; border-style:solid; 
	border-color:blue; font-size:16pt; display:none;
}




